@import url('./variables.css');

:root {
  background-color: var(--color-primary);
}

body {
  margin-bottom: var(--gutter-normal);
}

h1 {
  font-size: 6rem;
  margin-top: var(--gutter-normal);
  margin-bottom: var(--gutter-narrow);
}

h2 {
  font-size: 4rem;
  margin-top: var(--gutter-wide);
}

h3 {
  font-size: 2rem;
  margin-top: var(--gutter-normal);
  margin-bottom: var(--gutter-normal);
}

nav {
  padding-bottom: var(--gutter-mid-wide);

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, 10rem);
    justify-content: space-between;

    li {
      list-style-type: none;
      text-align: center;
    }
  }
}

header {
  text-align: center;
  font-family: var(--font-header);

  p {
    margin: 0 auto;
    margin-bottom: var(--gutter-ultra-wide);
    margin-top: calc(var(--gutter-mid-wide) * -1);
    max-width: 45rem;
    text-align: justify;
    font-family: var(--font-body);
    opacity: .75;
    font-weight: 100;
  }
}

a {
  color: var(--color-accent-primary);
  font-weight: bold;
  text-decoration: dotted underline;
  text-underline-offset: var(--gutter-narrow);

  &:hover {
    color: var(--color-accent-secondary);
  }
}

details {
  height: 1.2rem;
  padding: var(--gutter-narrow) auto;

  summary {
    cursor: pointer;
  }
}

.icon {
  vertical-align: middle;
  margin-right: 2px;
}

.cardholder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 35rem));
  grid-gap: var(--gutter-normal);
  justify-content: center;
}

.card {
  background: var(--color-primary-light);
  box-shadow: var(--box-shadow);
  padding: var(--gutter-normal) var(--gutter-mid-wide);
  border-radius: 3px;
  position: relative;

  header {
    text-align: left;
  }

  h3 {
    margin-bottom: var(--gutter-narrow);
    letter-spacing: 1px;
  }

  h4 {
    margin: 0;
    opacity: .6;
  }

  &:not(.old) {
    & + .old { /* Target the first .old card */
      grid-column-start: 1;

      &::before {
        content: "Work Archive";
        position: absolute;
        top: -.75rem;
        left: -.5rem;
        font-size: 1.5rem;
        /* opacity: .7; */
        color: var(--color-accent-primary);
      }
    }
  }

  .volunteer {
    position: absolute;
    top: var(--gutter-normal);
    right: var(--gutter-wide);
    font-size: 1.5rem;
    color: var(--color-accent-primary);
  }
}

.highlights {
  li {
    list-style-type: circle;
    padding: 3px 2px;

    &:hover {
      background: var(--color-primary);
      background: var(--color-background-highlight);
    }
  }
}

.tech {
  column-count: 3;
  color: var(--color-accent-light);
  list-style-type: none;
  padding-left: 0;

  li {
    margin-bottom: 5px;
  }
}

.avatar {
  max-width: 300px;
}

#app {
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-secondary);
  margin: 3rem 4rem 5rem 4rem;
  font-size: 18px;
}
