@import url("./variables.css");

.screen {
  display: none;
}

.print {
  display: contents;
}

h1 {
  text-align: center;
}

h3 {
  margin-bottom: 0;
}

p {
  margin: 0;
}

.horiz {
  display: flex;
  justify-content: space-evenly;

  li {
    list-style-type: none;
  }
}

li {
  &:empty {
    display: none;
  }

  .icon {
    margin-right: 4px;
  }
}
